<p class="checkout_success">
    Большое спасибо за покупку. Ваш заказ создан. Номер вашего заказа: {{ order_id }}. <br>
    В ближайшее время с вами свяжется наш менеджер. <br>
    <a href="/">Продолжить покупки.</a>
</p>