<h2>Введите ваши данные для оформления заказа</h2>
<form action="/checkout/make_order/" method="post">
    <input type='text' name='name' placeholder='Ваше имя'>
    <input type='text' name='phone' placeholder='телефон'>
    <input type="submit" value="Оформить заказ" name='send'>
</form>